@model IEnumerable<Prabin_SMS.Models.Entity.Degree>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager

<h2>User Management</h2>
<div class="row">
    <div class="col-12">
        <a class="btn btn-primary float-end" asp-action="AddEdit">Add</a>
    </div>
</div>



<h3 class="align-content-center">Degrees</h3>
<div class="form-outline" data-mdb-input-init>
    <input type="search" id="form1" class="form-control" placeholder="Type query" aria-label="Search" />
</div>

<div class="row">
    <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        Degree Name
                    </th>
                    <th>
                        Degree Description
                    </th>
                    <th>
                        Total Years
                    </th>
                    <th>
                        Start Date
                    </th>
                    <th>
                        Available Seats
                    </th>
                    @if (SignInManager.IsSignedIn(User) && User.IsInRole("ADMIN"))
                    {
                    <th>
                        Active
                    </th>
                    <th></th>
                    }

                </tr>
            </thead>
            <tbody>
                @{
                    int occupied = Model.Count();

                }
                
                @foreach (var items in Model)
                {
                   
                    <tr>
                        <td>
                            @items.DegreeName
                        </td>
                        <td>
                            @items.DegreeDescription
                        </td>
                        <td>
                            @items.No_Of_Years
                        </td>
                        <td>
                            @items.StartDate.ToShortDateString()
                            
                        </td>
                        <td>
                            @items.RemainingSeats/@items.TotalSeats 
                        </td>
                        
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("ADMIN"))
                        {
                            <td>
                                @if (items.IsActive == true)
                                {
                                    @:Active
                                }
                                else
                                {
                                    @:Deactive
                                }
                            </td>
                        }
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("ADMIN"))
                        {
                            <td>
                                <a class="btn btn-primary float-end" asp-action="AddEdit" asp-route-id="@items.Id">Edit</a>
                            </td>
                        }
                        @if(!SignInManager.IsSignedIn(User))
                        {
                            <td>
                                <a class="btn btn-primary float-end" asp-action="AddEdit" asp-route-id="@items.Id">Enroll</a>
                            </td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

